<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="lewiszlw.dcc.server.mapper.ConfigMapper" >

    <resultMap id="BaseResultMap" type="lewiszlw.dcc.server.entity.ConfigEntity">
        <id column="id" property="id" />
        <result column="application" property="application" />
        <result column="env" property="env" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="group" property="group" />
        <result column="key" property="key" />
        <result column="version" property="version" />
        <result column="value" property="value" />
        <result column="comment" property="comment" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <sql id="baseColumns" >
        application, env, `group`, `key`, version, `value`, comment, created_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dcc_config
    </select>

    <select id="batchSelectAllVersions" resultMap="BaseResultMap" >
        select * from dcc_config
        where application = #{application}
        and env = #{env}
    </select>

    <select id="selectOneAllVersions" resultMap="BaseResultMap" >
        select * from dcc_config
        where application = #{application}
        and env = #{env}
        and `key` = #{key}
    </select>

    <select id="selectSpecificVersionConfig" resultMap="BaseResultMap" >
        select * from dcc_config
        where application = #{application}
        and env = #{env}
        and `key` = #{key}
        and version = #{version}
    </select>

    <insert id="batchInsert" >
        insert into dcc_config
        (<include refid="baseColumns" />)
        values
        <foreach collection="configEntities" item="configEntity" separator="," >
            (
            #{configEntity.application},
            #{configEntity.env, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{configEntity.group},
            #{configEntity.key},
            #{configEntity.version},
            #{configEntity.value},
            #{configEntity.comment},
            now()
            )
        </foreach>
    </insert>

    <delete id="batchDelete" >
        delete from dcc_config
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator="," >
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>
</mapper>
